/* #region ||||| UTILITIES ||||| */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --md-primary: rgb(250, 248, 239);
  --md-secondary: rgb(187, 173, 160);
  --md-tertiary: rgb(238, 228, 218);
  --md-accent_light: rgb(242, 177, 121);
  --md-accent_dark: rgb(245, 149, 99);
  --md-accent_darkest: rgb(246, 124, 95);
  --md-font_light: rgb(249, 245, 240);
  --md-font_dark: rgb(117, 112, 104);
  --md-font_darkest: rgb(0, 0, 0);
  --md-danger: rgb(2010, 0, 0);
  --md-success: rgb(40, 170, 0);

}


/* #endregion ||||| UTILITIES ||||| */


/* #region ||||| COMMON RULES ||||| */

body {
  font-family: "Fredoka", sans-serif;
  background-color: var(--md-primary);
}

h1,
h2,
h3 {
  font-weight: bold;
  color: var(--md-font_dark);
}

h1 {
  font-size: 4rem;
}


.mc_btn {
  background-color: var(--md-accent_dark);
  border-color: var(--md-accent_dark);
}

.mc_btn:hover {
  background-color: var(--md-accent_darkest);
  border-color: var(--md-accent_dark);
}

.btn-check:checked+.btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check)+.btn:active {
  background-color: var(--md-accent_light);
  border-color: var(--md-accent_light);
}

/* #endregion ||||| COMMON RULES ||||| */


/* #region ||||| LOGIN ||||| */

.mc_help {
  background-color: var(--md-secondary);
  border-color: var(--md-font_darkest);
  padding: 1rem
}

.mc_access_denied {
  color: var(--md-danger);
}

.mc_access_granted {
  color: var(--md-success);
}

/* #endregion ||||| LOGIN ||||| */


/* #endregion ||||| DICE GAME ||||| */

.mc_dice_game {
  background-color: var(--md-tertiary);

  .mc_number {
    font-size: 4rem;
    font-weight: bold;
    color: var(--md-font_dark);
  }

  .mc_win,
  .mc_draw,
  .mc_lose {
    font-size: 3.2rem;
    font-weight: bold;
  }

  .mc_win {
    color: var(--md-success)
  }

  .mc_draw {
    color: var(--md-accent_darkest);
  }

  .mc_lose {
    color: var(--md-danger);
  }


}

/* #endregion ||||| DICE GAME ||||| */